<div class="container" style="top: 100px;">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 align-items-md-center" style=" display: flex;justify-content: center;">
            <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                <div class="text-center text-md-start card-hover">
                    <div class="card-body">
                        <header class="text-center mb-4">
                            <h1 class="h2 g-color-black g-font-weight-400 trn" data-trn="Invite">Invite Confirmation</h1>
                        </header>
                        <p>
                            Registration link  has been sent, pls. register yourself
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>